[user]
	name = Ondrej Dohnal
	email = douball@inuits.eu

[push]
    default = simple

[github]
    user = xdohna45

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[color]
    ui = true
[core]
	editor = vim
